variable "aiven_api_token" {default = "<your aiven api token"}
variable "service_name_prefix" {default = "mongo-demo-"}
variable "cloud_name" {default = "<see aiven terraform provider doc>"}
variable "project_name" {default = "<your aiven project>"}
variable "mongo_uri" { default = "<mongo atlas uri>" }
variable "aws_key_id" {default = "<your aws key>"}
variable "aws_key_secret" {default ="<your aws secret>"}

